{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="sertificates">
    <div>
        <img src="{% static 'img/CS50x.png' %}">
        <p>Date received: 31.03.2023<br><a href="https://certificates.cs50.io/d8b9a3be-ee95-4807-b88b-849358b84bd9">Link for sertificate</a></p>
    </div>
    <div>
        <img src="{% static 'img/sertificate1024_1.png' %}">
        <p>Date received: 07.04.2023<br><a href="https://courses.edx.org/certificates/8c7cb0029c804b20b4b366db16f42bfd">Link for sertificate</a></p>
    </div>
    <div>        
        <img src="{% static 'img/Coursera.jpg' %}" >
        <p>Date received: 21.12.2023<br><a href="https://coursera.org/share/c2aeb50183603e6f651ec4b8aedc7471">Link for sertificate</a></p>
    </div>
    
</section>

{% endblock %}