{% extends 'base.html' %}
{% load static %}
{% block content %}
<section1>
    <div class="card">
        <h class="heading">
          Hard skills
        </h>
        <p>
            Knowledge of python and external libraries<br>
            Django framework<br>
            Building MVT architecture<br>
            Sqlite database<br>
            Design a web application | css |<br>
            English | B1 - B2 | <br>
            Strong math skills<br>            
            Understanding concepts of building web-applications            
        </p>
    </div>
    <div class="card">
        <h class="heading">
         Soft skills
        </h>        
        <p>
            Reliable<br>
            Determined<br>
            Disciplined<br>
            Accountable<br>
            Forward-thinking<br>
            Cooperative<br>
            Persistent<br>              
        </p>
        <p class="colum">
            Ambitious<br>
            Motivated<br>
            Empathetic<br>          
            Punctual<br>
            Versatile<br>
            Expeditious<br>
            Inquisitive              
        </p>
        
    </div>
</section1>
{% endblock %}