{% load static %}
<footer class="footer">
    <div>    
        <a target="_blank" href="https://icons8.com/icon/32292/instagram">Instagram</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a><br>
        <a target="_blank" href="https://icons8.com/icon/447/linkedin">LinkedIn</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>
    <div>
        <a target="_blank" href="https://icons8.com/icon/baRhMh2wmjbT/mail">Mail</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a><br>
        <a target="_blank" href="https://icons8.com/icon/7awXpwjAL8Gc/telegram">Telegram</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
    </div>        
    <div>
        <h>Contact links</h><br>
        <a href="https://www.linkedin.com/in/томащук-олег-1aaa24270" target="_blank"><img src="{% static 'img/linkedin_1.png' %}" ></a>
        <a href="https://www.instagram.com/y0leg?igsh=NW5peTlhaHU2Z3Nh" target="_blank"><img src="{% static 'img/instagram_1.png' %}" ></a>
        <a href="mailto:tomashuk.oleg2005@gmail.com" target="_blank"><img src="{% static 'img/mail_1.png' %}" ></a>
        <a href="https://telegram.me/Simbobobka" target="_blank"><img src="{% static 'img/telegram.png' %}"></a>  
    </div> 
</footer>